<%- include ('partials/header') -%>

<div class="container logo-container py-5 d-flex justify-content-center">
    <h1 class="display-6 mb-2" style="color:#ffffff!important;">Enrollments Prerequisite Check</h1>
</div>

<div class="container container-header">
<!-- <header class="jumbotron"> -->
    <div class = "container py-5">
        <!-- <h1 class="display-4">True Legacy Homes Sale Manager</h1> -->
        <!-- <div class="text-center">
            <h1 class="display-6 mb-2">Enrollments</h1>
        </div> -->
            
            <!-- View Sales -->
            <% if(data.length) { %> 
            <table id="table_e" class="table table-bordered table-expandable mydatatable" style="width: 100%;" data-page-length="100">
                <thead>
                    <tr>
                      <th scope="col">Event ID</th>
		              <th scope="col">Enrollment ID</th>
		              <th scope="col">Email</th>
		              <th scope="col">Name</th>
		              <th scope="col">Status</th>
		              <th scope="col">F3</th>
		              <th scope="col">ASnR</th>
                      <th scope="col">CD</th>
		              <th scope="col">CCLabs</th>
                      <th scope="col">ArchCert</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% for(var i = 0; i< data.length; i++) { %>
                        <tr>
                            <!-- <th scope="row"><%= (i+1) %></th> -->
                            <td><%= data[i].event_id %></td>
                            <td><%= data[i].enrollment_id %></td>
                            <td><%= data[i].email %></td>
                            <td><%= data[i].full_name %></td>
                            <td><%= data[i].status %></td>
                            <td><%= data[i].F3 %></td>
                            <td><%= data[i].ASnR %></td>
                            <td><%= data[i].CD %></td>
                            <td><%= data[i].CCLabs %></td>
                            <td><%= data[i].ArchCert %></td>
                        </tr>
                    <% } %>
                </tbody>
            <% } %>
            </table>    
            <script type="text/javascript">
                $(function() {
                    $("#table_e td").each(function() {
                        if($(this).text() == 'NO') {
                            $(this).css('background-color', 'red', 'important');
                        } else if($(this).text() == 'YES') {
                            $(this).css('background-color', 'green');
                        }
                    });
                });
            </script>
   </div>        
</div>



<!-- <%- include ('partials/footer') -%> -->