<%- include ('partials/header', {username: ""}) -%>

<!-- <div class="container logo-container py-5 d-flex justify-content-center">
    <img src="../img/TLH logo.png" class="logo-image" alt="True Legacy Homes" width="500" height="175">
</div> -->

<div class="container container-header">
<!-- <header class="jumbotron"> -->
    <div class = "container py-5">
        <h1 class="display-1">Splunk Prerequisite Checker</h1>
        <h4>Learndot Enrollments</h4>

            <div class="row">
                <div class="col-lg-12 py-4">
                    <!-- Split button -->
                    
                        <div class="btn-group">
                            <button type="button" class="btn btn-select-action">Select an Action</button>
                            <button type="button" id="action-dropdown" class="btn btn-select-action dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="action-dropdown">
                            <li><a href="/enrollments" class="dropdown-item">Enrollments</a></li>
                            <!-- <li><a href="/input2" class="dropdown-item">Create New Sale 2</a></li> -->
                            <li><a href="/learndot_enrollments" class="dropdown-item">Learndot Enrollments</a></li>
                            <!-- <li><a href="/" class="dropdown-item">View Previous Sales</a></li> -->
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="dropdown-item">Admin</a></li>
                            </ul>
                        
                        </div>
                    
                </div>
            </div>
            
    </div>
<!-- </header> -->

</div>

<div class="container logo-container py-5 d-flex justify-content-center">
    <h1 class="display-6 mb-2" style="color:#ffffff!important;">Learndot Enrollments</h1>
</div>

<div class="container container-header">
<!-- <header class="jumbotron"> -->
    <div class = "container py-5">
        <!-- <h1 class="display-4">True Legacy Homes Sale Manager</h1> -->
        <!-- <div class="text-center">
            <h1 class="display-6 mb-2">Enrollments</h1>
        </div> -->
            
            <!-- View Sales -->
            <table class="table table-striped table-bordered table-expandable mydatatable" style="width: 100%;">
                <thead>
                    <tr>
                      <th scope="col">Event ID</th>
		              <th scope="col">Enrollment ID</th>
		              <th scope="col">Email</th>
		              <th scope="col">Name</th>
		              <th scope="col">Status</th>
		              <th scope="col">Score</th>
		              <th scope="col">URL Name</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% learndotresults.forEach(function(learndotresult) { %> 
                        <tr>
                            <td><%= learndotresult.ld_event_id %></td>
                            <td><%= learndotresult.ld_enrollment_id %></td>
                            <td><%= learndotresult.ld_email %></td>
                            <td><%= learndotresult.ld_firstName + " " + learndotresult.ld_lastName %></td>
                            <td><%= learndotresult.ld_status %></td>
                            <td><%= learndotresult.ld_score %></td>
                            <td><%= learndotresult.ld_urlname %></td>
                        </tr>
                    <% }); %>
                </tbody>
                
            </table>    

   </div>        
</div>


<%- include ('partials/footer') -%>